/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
   
  .navbar-nav .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slight white background on hover */
    border-radius: 5px; /* Rounded corners */
  }
  
  .navbar-nav .nav-item:hover .nav-link {
    color: #e6f7ff; /* Change text color on hover */
  }
  
  
   